@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
ul,
li,
p,
a,
img,
div,
button,
svg {
  margin: 0;
  padding: 0;
}

figure {
  position: absolute;
  margin: 0;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

.link {
  list-style: none;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: var(--text_color), var(--title_font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0em;
  color: var(--title_color);
  text-align: center;
}
@media screen and (min-width: 1440px) {
  body {
    font-size: 20px;
  }
}
@media screen and (min-width: 1728px) {
  body {
    font-size: 24px;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 390px) {
  .container {
    width: 390px;
  }
}
@media screen and (min-width: 834px) {
  .container {
    width: 834px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
  }
}
@media screen and (min-width: 1728px) {
  .container {
    width: 1728px;
  }
}

.section-wide {
  padding: 0 auto;
  margin-top: 108px;
}
@media screen and (min-width: 390px) {
  .section-wide {
    width: 390px;
    padding: 0 28px;
  }
}
@media screen and (min-width: 834px) {
  .section-wide {
    width: 834px;
    padding: 0 60px;
    margin-top: 120px;
  }
}
@media screen and (min-width: 1440px) {
  .section-wide {
    width: 1440px;
    padding: 0 86px;
    margin-top: 140px;
  }
}
@media screen and (min-width: 1728px) {
  .section-wide {
    width: 1728px;
    padding: 0 80px;
    margin-top: 160px;
  }
}

.section-narrow {
  padding: 0 auto;
  margin-top: 108px;
}
@media screen and (min-width: 390px) {
  .section-narrow {
    width: 390px;
    padding: 0 28px;
  }
}
@media screen and (min-width: 834px) {
  .section-narrow {
    width: 834px;
    padding: 0 40px;
    margin-top: 120px;
  }
}
@media screen and (min-width: 1440px) {
  .section-narrow {
    width: 1440px;
    padding: 0 194px;
    margin-top: 140px;
  }
}
@media screen and (min-width: 1728px) {
  .section-narrow {
    width: 1728px;
    padding: 0 213px;
    margin-top: 160px;
  }
}

:root {
  --header_font: "Rubik Moonrocks",
      cursive;
  --secondary_font: "Bad Script",
      cursive;
  --title_font: "PT Sans Caption",
      sans-serif;
  --text_font: "Inter",
      sans-serif;
  --title_color: #563831;
  --text_color: #15100F;
  --lines_color: #C1FAF6;
  --first-accent_color: #CB6A84;
  --second-accent_color: #F1D0D9;
  --grey_color: #F0F3F6;
  --rose_color: #F5E2E7;
  --orange_color: #FBF2E4;
  --blue_color: #EDF7FE;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.caption {
  margin: 0 auto;
  padding-top: 114px;
  width: auto;
  height: 156px;
  background-image: url("/images/index/png/caption-background_mob.png");
}
@media screen and (min-width: 390px) {
  .caption {
    margin-left: -28px;
    width: 390px;
    height: 156px;
  }
}
@media screen and (min-width: 834px) {
  .caption {
    margin-left: -40px;
    padding-top: 32px;
    width: 834px;
    height: 161px;
    background-image: url("/images/index/png/caption-background_tab.png");
  }
}
@media screen and (min-width: 1440px) {
  .caption {
    margin-left: -194px;
    padding-top: 44px;
    width: 1440px;
    height: 269px;
    background-image: url("/images/index/png/caption-background_desk.png");
  }
}
@media screen and (min-width: 1728px) {
  .caption {
    margin-left: -213px;
    padding-top: 52px;
    width: 1728px;
    height: 309px;
    background-image: url("/images/index/png/caption-background_mac.png");
  }
}
.caption_text {
  font-family: var(--title_font);
  font-weight: 400;
  line-height: 150%;
  font-size: 28px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--title_color);
}
@media screen and (min-width: 1440px) {
  .caption_text {
    font-size: 36px;
  }
}
@media screen and (min-width: 1728px) {
  .caption_text {
    font-size: 40px;
  }
}

.header_section {
  height: 396px;
  background: linear-gradient(90deg, #EDF7FE 71.35%, rgba(237, 247, 254, 0.615955) 87.4%, rgba(237, 247, 254, 0.290962) 96.88%, rgba(237, 247, 254, 0) 100%);
  filter: drop-shadow(0px 4px 4px rgba(21, 16, 15, 0.25));
}
@media screen and (min-width: 834px) {
  .header_section {
    height: 848px;
  }
}
.header_image {
  position: absolute;
  top: 0;
  left: 0;
  width: 390px;
  height: 396px;
}
@media screen and (min-width: 834px) {
  .header_image {
    width: 834px;
    height: 848px;
  }
}
@media screen and (min-width: 1440px) {
  .header_image {
    width: 1030px;
  }
}
@media screen and (min-width: 1728px) {
  .header_image {
    width: 1248px;
  }
}
.header_transition {
  position: absolute;
  top: 360px;
  left: 45px;
  width: 300px;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 834px) {
  .header_transition {
    top: 800px;
    left: 267px;
  }
}
@media screen and (min-width: 1440px) {
  .header_transition {
    top: 803px;
    left: 1131px;
    width: 209px;
  }
}
@media screen and (min-width: 1728px) {
  .header_transition {
    top: 802px;
    left: 1360px;
    width: 288px;
  }
}
.header_transition-list {
  display: contents;
}
.header_transition-link {
  width: 60px;
  height: 8px;
  background-color: var(--second-accent_color);
  border: 1px solid white;
  border-radius: 4px;
}
.header_transition-link:hover,
.header_transition-link :focus {
  background-color: var(--first-accent_color);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}
.header_transition-link.active {
  background-color: var(--first-accent_color);
  /* Цвет активной кнопки */
}
@media screen and (min-width: 1440px) {
  .header_transition-link {
    width: 40px;
    height: 6px;
  }
}
@media screen and (min-width: 1728px) {
  .header_transition-link {
    width: 60px;
  }
}
.header_balloon {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 80px;
  height: 80px;
  background-image: url("/images/index/png/balloon_mobile.png");
  background-size: contain;
}
@media (min-device-pixel-ratio: 2) and (min-width: 390px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 390px), (min-resolution: 192dpi) and (min-width: 390px), (min-resolution: 2dppx) and (min-width: 390px) {
  .header_balloon {
    background-image: url("/images/index/png/balloon_mobile@2x.png");
  }
}
@media screen and (min-width: 834px) {
  .header_balloon {
    top: 24px;
    left: 24px;
    width: 180px;
    height: 160px;
    background-image: url("/images/index/png/balloon_tab.png");
  }
}
@media screen and (min-width: 834px) and (min-device-pixel-ratio: 2) and (min-width: 834px), screen and (min-width: 834px) and (-webkit-min-device-pixel-ratio: 2) and (min-width: 834px), screen and (min-width: 834px) and (min-resolution: 192dpi) and (min-width: 834px), screen and (min-width: 834px) and (min-resolution: 2dppx) and (min-width: 834px) {
  .header_balloon {
    background-image: url("/images/index/png/balloon_tab@2x.png");
  }
}
@media screen and (min-width: 1440px) {
  .header_balloon {
    position: absolute;
    top: 32px;
    left: 1074px;
    width: 280px;
    height: 282px;
    background-image: url("/images/index/png/balloon_mac_desk.png");
  }
}
@media (min-device-pixel-ratio: 2) and (min-width: 1440px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 1440px), (min-resolution: 192dpi) and (min-width: 1440px), (min-resolution: 2dppx) and (min-width: 1440px) {
  .header_balloon {
    background-image: url("/images/index/png/balloon_mac_desk@2x.png");
  }
}
@media screen and (min-width: 1728px) {
  .header_balloon {
    left: 1368px;
  }
}
@media screen and (min-width: 834px) {
  .header_contacts-item {
    font-family: var(--title_font);
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
  }
}
@media screen and (min-width: 1440px) {
  .header_contacts-item {
    font-size: 20px;
  }
}
.header_contacts-button {
  border-color: transparent;
  background-color: transparent;
  cursor: pointer;
}
.header_contacts-icon {
  margin-top: 16px;
  margin-bottom: 12px;
  width: 44px;
  height: 44px;
  fill: var(--first-accent_color);
  fill-opacity: 0.6;
}
.header_contacts-icon:hover,
.header_contacts-icon :focus {
  width: 48px;
  fill-opacity: 1;
  transition: fill-opacity 500ms linear;
}
@media screen and (min-width: 1440px) {
  .header_contacts-icon {
    margin-top: 24px;
    margin-bottom: 18px;
    width: 52px;
    height: 52px;
  }
}
.header_contacts-number--first {
  display: none;
}
@media screen and (min-width: 834px) {
  .header_contacts-number--first {
    display: block;
    color: var(--title-color);
  }
  .header_contacts-number--first:hover,
  .header_contacts-number--first :focus {
    color: var(--first-accent_color);
    transition: color 250ms linear;
  }
}
.header_contacts-number--second {
  display: none;
}
@media screen and (min-width: 834px) {
  .header_contacts-number--second {
    display: block;
    padding: 16px 0 4px 0;
  }
}
@media screen and (min-width: 1728px) {
  .header_contacts-number--second {
    padding: 28px 0 4px 0;
  }
}
.header_contacts-social {
  display: none;
}
@media screen and (min-width: 834px) {
  .header_contacts-social {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
  }
}
@media screen and (min-width: 1440px) {
  .header_contacts-social {
    font-size: 16px;
  }
}
.header_logo {
  position: absolute;
  top: 176px;
  left: 262px;
  width: 100px;
  z-index: 1;
}
@media screen and (min-width: 834px) {
  .header_logo {
    top: 444px;
    left: 634px;
    width: 140px;
  }
}
@media screen and (min-width: 1440px) {
  .header_logo {
    top: 300px;
    left: 956px;
    width: 160px;
  }
}
@media screen and (min-width: 1728px) {
  .header_logo {
    top: 260px;
    left: 1148px;
    width: 208px;
  }
}
.header_title-box {
  position: absolute;
  top: 236px;
  left: 28px;
  width: 334px;
  height: 96px;
  padding: 12px 21px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
}
@media screen and (min-width: 834px) {
  .header_title-box {
    top: 512px;
    left: 83px;
    width: 668px;
    height: 216px;
    padding: 35px 42px;
    border-radius: 40px;
  }
}
@media screen and (min-width: 1440px) {
  .header_title-box {
    top: 372px;
    left: 686px;
    background: linear-gradient(95.97deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    -webkit-backdrop-filter: blur(7.5px);
            backdrop-filter: blur(7.5px);
  }
}
@media screen and (min-width: 1728px) {
  .header_title-box {
    left: 980px;
    padding: 36px 40px 0px 44px;
  }
}
.header_title {
  font-family: var(--header_font);
  font-weight: 400;
  font-size: 28px;
  line-height: 130%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #563831;
}
@media screen and (min-width: 834px) {
  .header_title {
    font-size: 56px;
  }
}
.header_title-text {
  font-size: 22px;
  letter-spacing: 0.1em;
}
@media screen and (min-width: 834px) {
  .header_title-text {
    font-size: 44px;
  }
}
.header_delivery {
  position: absolute;
  top: 312px;
  left: 235px;
  font-family: var(--secondary_font);
  font-style: italic;
  font-size: 18px;
  line-height: 100%;
  text-transform: lowercase;
  color: var(--text_color);
}
@media screen and (min-width: 834px) {
  .header_delivery {
    top: 684px;
    left: 529px;
    font-size: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .header_delivery {
    top: 600px;
    left: 1177px;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.05em;
    transform: rotate(-15deg);
  }
}
@media screen and (min-width: 1728px) {
  .header_delivery {
    left: 1468px;
  }
}

@media screen and (min-width: 1440px) {
  .navigation {
    display: block;
    position: absolute;
    top: 32px;
    left: 380px;
    width: 650px;
    height: 52px;
    background: rgba(243, 249, 247, 0.8);
    border-radius: 8px;
  }
}
@media screen and (min-width: 1728px) {
  .navigation {
    left: 480px;
    width: 768px;
    height: 60px;
  }
}
.navigation_list {
  display: none;
}
@media screen and (min-width: 1440px) {
  .navigation_list {
    display: flex;
    justify-content: space-between;
    padding: 12px 16px;
  }
}
@media screen and (min-width: 1440px) {
  .navigation_list-item:last-child {
    width: 20px;
    height: 20px;
    margin-right: 16px;
  }
}
@media screen and (min-width: 1440px) {
  .navigation_list-link {
    font-family: var(--text_font);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.05em;
    color: var(--text_color);
  }
  .navigation_list-link:hover,
  .navigation_list-link :focus {
    font-weight: 600;
    border-bottom: 2px dashed var(--second-accent_color);
    transition: border-color 250ms linear;
  }
}
@media screen and (min-width: 1728px) {
  .navigation_list-link {
    font-size: 20px;
  }
}
@media screen and (min-width: 1440px) {
  .navigation_list-icon {
    width: 28px;
    height: 28px;
    fill: var(--first-accent_color);
    fill-opacity: 0.6;
  }
  .navigation_list-icon:hover,
  .navigation_list-icon :focus {
    fill-opacity: 1;
    transition: fill-opacity 250ms linear;
  }
}
@media screen and (min-width: 1728px) {
  .navigation_list-icon {
    width: 32px;
    height: 32px;
  }
}
.navigation__burger-menu {
  position: absolute;
  top: 16px;
  left: 334px;
  width: 40px;
  height: 40px;
  border: 1px solid #F1D0D9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  background-color: #FFF3F6;
  border-color: var(--second-accent_color);
}
@media screen and (min-width: 834px) {
  .navigation__burger-menu {
    top: 24px;
    left: 750px;
  }
}
@media screen and (min-width: 1440px) {
  .navigation__burger-menu {
    display: none;
  }
}
.navigation_burger-icon {
  width: 30px;
  height: 20px;
  margin: 10px auto;
  fill: var(--first-accent_color);
}

.carousel {
  display: flex;
  overflow: hidden;
  /* Добавляем ширину контейнера для карусели */
}
.carousel_carousel img {
  width: 25%;
  /* Равномерно распределяем ширину изображений в карусели */
  height: auto;
  transition: transform 0.5s ease-in-out;
}

.problems {
  margin-top: 20px;
  height: 1139px;
}
@media screen and (min-width: 834px) {
  .problems {
    margin-top: 28px;
    height: 712px;
  }
}
@media screen and (min-width: 1440px) {
  .problems {
    margin-top: 36px;
    height: 912px;
  }
}
@media screen and (min-width: 1728px) {
  .problems {
    margin-top: 44px;
    height: 1216px;
  }
}
@media screen and (min-width: 834px) {
  .problems__list-item:nth-child(odd) {
    transform: none;
  }
  .problems__list-item:nth-child(even) {
    transform: none;
  }
}
.problems__list-item p {
  font-family: var(--text_font);
  font-weight: 500;
  font-size: 14px;
  line-height: 180%;
  text-align: center;
  letter-spacing: 0.1em;
  color: var(--text_color);
}
@media screen and (min-width: 834px) {
  .problems__list-item p {
    line-height: 200%;
  }
}
@media screen and (min-width: 1440px) {
  .problems__list-item p {
    font-weight: 600;
    font-size: 16px;
  }
}
@media screen and (min-width: 1728px) {
  .problems__list-item p {
    font-size: 20px;
  }
}
.problems__list-item > div {
  width: 244px;
  height: 328px;
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (min-width: 834px) {
  .problems__list-item > div {
    position: absolute;
    width: 252px;
    height: 340px;
  }
}
@media screen and (min-width: 1440px) {
  .problems__list-item > div {
    width: 360px;
    height: 480px;
  }
}
@media screen and (min-width: 1728px) {
  .problems__list-item > div {
    width: 444px;
    height: 592px;
  }
}
.problems__list-balloon--1 {
  margin-left: 16px;
  transform: rotate(16deg);
}
@media screen and (min-width: 834px) {
  .problems__list-balloon--1 {
    margin-left: 132px;
  }
}
@media screen and (min-width: 1440px) {
  .problems__list-balloon--1 {
    margin-left: 252px;
  }
}
@media screen and (min-width: 1728px) {
  .problems__list-balloon--1 {
    margin-left: 300px;
  }
}
.problems__list-balloon--1 > p {
  transform: rotate(-16deg);
}
@media screen and (min-width: 834px) {
  .problems__list-balloon--1 > p {
    transform: none;
  }
}
.problems__list-balloon--2 {
  display: none;
}
@media screen and (min-width: 834px) {
  .problems__list-balloon--2 {
    display: block;
    margin-left: 450px;
  }
}
@media screen and (min-width: 1440px) {
  .problems__list-balloon--2 {
    margin-left: 828px;
  }
}
@media screen and (min-width: 1728px) {
  .problems__list-balloon--2 {
    margin-left: 984px;
  }
}
.problems__list-balloon--3 {
  margin-top: -96px;
  margin-left: 146px;
  transform: rotate(-32deg);
}
@media screen and (min-width: 834px) {
  .problems__list-balloon--3 {
    margin-top: 372px;
    margin-left: 40px;
  }
}
@media screen and (min-width: 1440px) {
  .problems__list-balloon--3 {
    margin-top: 488px;
    margin-left: 194px;
  }
}
@media screen and (min-width: 1728px) {
  .problems__list-balloon--3 {
    margin-top: 624px;
    margin-left: 213px;
  }
}
.problems__list-balloon--3 > p {
  transform: rotate(32deg);
}
@media screen and (min-width: 834px) {
  .problems__list-balloon--3 > p {
    transform: none;
  }
}
.problems__list-balloon--4 {
  margin-top: -84px;
  margin-left: 16px;
  transform: rotate(16deg);
}
@media screen and (min-width: 834px) {
  .problems__list-balloon--4 {
    margin-top: 284px;
    margin-left: 291px;
  }
}
@media screen and (min-width: 1440px) {
  .problems__list-balloon--4 {
    margin-top: 360px;
    margin-left: 560px;
  }
}
@media screen and (min-width: 1728px) {
  .problems__list-balloon--4 {
    margin-top: 416px;
    margin-left: 642px;
  }
}
.problems__list-balloon--4 > p {
  transform: rotate(-16deg);
}
@media screen and (min-width: 834px) {
  .problems__list-balloon--4 > p {
    transform: none;
  }
}
.problems__list-balloon--5 {
  margin-top: -96px;
  margin-left: 146px;
  transform: rotate(-32deg);
}
@media screen and (min-width: 834px) {
  .problems__list-balloon--5 {
    margin-top: 372px;
    margin-left: 542px;
  }
}
@media screen and (min-width: 1440px) {
  .problems__list-balloon--5 {
    margin-top: 488px;
    margin-left: 926px;
  }
}
@media screen and (min-width: 1728px) {
  .problems__list-balloon--5 {
    margin-top: 624px;
    margin-left: 1071px;
  }
}
.problems__list-balloon--5 > p {
  transform: rotate(32deg);
}
@media screen and (min-width: 834px) {
  .problems__list-balloon--5 > p {
    transform: none;
  }
}

.balloon-negative {
  padding: 68px 28px;
  background-image: url("/images/index/png/balloon-negative_mob.png");
}
@media (min-device-pixel-ratio: 2) and (min-width: 390px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 390px), (min-resolution: 192dpi) and (min-width: 390px), (min-resolution: 2dppx) and (min-width: 390px) {
  .balloon-negative {
    background-image: url("/images/index/png/balloon-negative_mob@2x.png");
  }
}
@media screen and (min-width: 834px) {
  .balloon-negative {
    padding: 66px 44px;
    transform: none;
    background-image: url("/images/index/png/balloon-negative_tab.png");
  }
}
@media screen and (min-width: 834px) and (min-device-pixel-ratio: 2) and (min-width: 834px), screen and (min-width: 834px) and (-webkit-min-device-pixel-ratio: 2) and (min-width: 834px), screen and (min-width: 834px) and (min-resolution: 192dpi) and (min-width: 834px), screen and (min-width: 834px) and (min-resolution: 2dppx) and (min-width: 834px) {
  .balloon-negative {
    background-image: url("/images/index/png/balloon-negative_tab@2x.png");
  }
}
@media screen and (min-width: 1440px) {
  .balloon-negative {
    padding: 120px 68px;
    background-image: url("/images/index/png/balloon-negative_desk.png");
  }
}
@media screen and (min-width: 1440px) and (min-device-pixel-ratio: 2) and (min-width: 1440px), screen and (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1440px), screen and (min-width: 1440px) and (min-resolution: 192dpi) and (min-width: 1440px), screen and (min-width: 1440px) and (min-resolution: 2dppx) and (min-width: 1440px) {
  .balloon-negative {
    background-image: url("/images/index/png/balloon-negative_desk@2x.png");
  }
}
@media screen and (min-width: 1728px) {
  .balloon-negative {
    padding: 144px 82px;
    background-image: url("/images/index/png/balloon-negative_mac.png");
  }
}
@media screen and (min-width: 1728px) and (min-device-pixel-ratio: 2) and (min-width: 1728px), screen and (min-width: 1728px) and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1728px), screen and (min-width: 1728px) and (min-resolution: 192dpi) and (min-width: 1728px), screen and (min-width: 1728px) and (min-resolution: 2dppx) and (min-width: 1728px) {
  .balloon-negative {
    background-image: url("/images/index/png/balloon-negative_mac@2x.png");
  }
}
.balloon-negative > p {
  font-weight: 400;
  font-size: 18px;
}
@media screen and (min-width: 834px) {
  .balloon-negative > p {
    font-size: 14px;
  }
}
@media screen and (min-width: 1440px) {
  .balloon-negative > p {
    font-weight: 500;
    font-size: 16px;
  }
}
@media screen and (min-width: 1728px) {
  .balloon-negative > p {
    font-size: 20px;
  }
}

.balloon-positive {
  padding: 42px 34px;
  background-image: url("/images/index/png/balloon-positive_mob.png");
}
@media (min-device-pixel-ratio: 2) and (min-width: 390px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 390px), (min-resolution: 192dpi) and (min-width: 390px), (min-resolution: 2dppx) and (min-width: 390px) {
  .balloon-positive {
    background-image: url("/images/index/png/balloon-positive_mob@2x.png");
  }
}
@media screen and (min-width: 834px) {
  .balloon-positive {
    padding: 40px 40px;
    transform: none;
    background-image: url("/images/index/png/balloon-positive_tab.png");
  }
}
@media screen and (min-width: 834px) and (min-device-pixel-ratio: 2) and (min-width: 834px), screen and (min-width: 834px) and (-webkit-min-device-pixel-ratio: 2) and (min-width: 834px), screen and (min-width: 834px) and (min-resolution: 192dpi) and (min-width: 834px), screen and (min-width: 834px) and (min-resolution: 2dppx) and (min-width: 834px) {
  .balloon-positive {
    background-image: url("/images/index/png/balloon-positive_tab@2x.png");
  }
}
@media screen and (min-width: 1440px) {
  .balloon-positive {
    padding: 100px 32px;
    background-image: url("/images/index/png/balloon-positive_desk.png");
  }
}
@media screen and (min-width: 1440px) and (min-device-pixel-ratio: 2) and (min-width: 1440px), screen and (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1440px), screen and (min-width: 1440px) and (min-resolution: 192dpi) and (min-width: 1440px), screen and (min-width: 1440px) and (min-resolution: 2dppx) and (min-width: 1440px) {
  .balloon-positive {
    background-image: url("/images/index/png/balloon-positive_desk@2x.png");
  }
}
@media screen and (min-width: 1728px) {
  .balloon-positive {
    padding: 112px 65px;
    background-image: url("/images/index/png/balloon-positive_mac.png");
  }
}
@media screen and (min-width: 1728px) and (min-device-pixel-ratio: 2) and (min-width: 1728px), screen and (min-width: 1728px) and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1728px), screen and (min-width: 1728px) and (min-resolution: 192dpi) and (min-width: 1728px), screen and (min-width: 1728px) and (min-resolution: 2dppx) and (min-width: 1728px) {
  .balloon-positive {
    background-image: url("/images/index/png/balloon-positive_mac@2x.png");
  }
}

.products {
  margin-top: -84px;
}
@media screen and (min-width: 834px) {
  .products {
    margin-top: 28px;
  }
}
@media screen and (min-width: 1440px) {
  .products {
    margin-top: 88px;
  }
}
@media screen and (min-width: 1728px) {
  .products {
    margin-top: 44px;
  }
}
.products__list {
  display: flex;
}
.products__list--average {
  margin-top: 180px;
  margin-bottom: 180px;
}
.products__section {
  margin-top: 64px;
}
.products__section--type2 {
  margin-top: 24px;
  margin-left: 84px;
  margin-right: 84px;
}
.products__section--type3 {
  margin-top: -20px;
}
.products__title {
  position: absolute;
  margin-top: -64px;
  margin-left: 68px;
  font-family: var(--title_font);
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--title_color);
}
.products__title::before {
  content: "";
  position: absolute;
  left: -280px;
  margin-top: 30px;
  width: 716px;
  height: 8px;
  background: var(--lines_color);
  border-radius: 0px 8px 8px 0px;
}
@media screen and (min-width: 834px) {
  .products__title {
    font-size: 16px;
  }
}
@media screen and (min-width: 1440px) {
  .products__title {
    font-size: 18px;
  }
}
@media screen and (min-width: 1728px) {
  .products__title {
    font-size: 24px;
  }
}
.products__title--type2 {
  position: absolute;
  right: 200px;
  margin-top: 56px;
  font-family: var(--title_font);
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--title_color);
}
.products__title--type2::before {
  content: "";
  position: absolute;
  margin-top: 30px;
  width: 716px;
  height: 8px;
  background: var(--lines_color);
  border-radius: 8px 0px 0px 8px;
}

.card {
  position: relative;
  width: 360px;
  height: 440px;
  overflow: visible;
}
.card::before {
  content: "";
  position: absolute;
  left: 0;
  width: 360px;
  height: 440px;
  margin-top: -10px;
  margin-left: 10px;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(21, 16, 15, 0.5);
  border-radius: 8px;
}
.card::after {
  content: "";
  position: absolute;
  left: 0;
  width: 360px;
  height: 440px;
  margin-top: -18px;
  margin-left: 18px;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(21, 16, 15, 0.5);
  border-radius: 8px;
  z-index: -1;
}
.card__image {
  box-shadow: 1px 1px 8px 0px rgba(21, 16, 15, 0.5);
  border-radius: 8px;
}
.card__title {
  position: relative;
  bottom: 84px;
  width: 360px;
  height: 84px;
  margin: 0;
  padding: 28px 28px;
  background: linear-gradient(93.39deg, rgba(240, 243, 246, 0.7) 0%, rgba(226, 231, 235, 0) 100%);
  box-shadow: inset 0px 1px 1px rgba(21, 16, 15, 0.4);
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
  border-radius: 0px 0px 8px 8px;
  font-family: var(--title_font);
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.card__title--type2 {
  position: relative;
  bottom: 84px;
  width: 360px;
  height: 84px;
  margin: 0;
  padding: 20px 52px;
  background: linear-gradient(93.39deg, rgba(240, 243, 246, 0.7) 0%, rgba(226, 231, 235, 0) 100%);
  box-shadow: inset 0px 1px 1px rgba(21, 16, 15, 0.4);
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
  border-radius: 0px 0px 8px 8px;
  font-family: var(--title_font);
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #FFFFFF;
}/*# sourceMappingURL=main.css.map */