//Card of products
.card {
    position: relative;
    width: 296px;
    height: 364px;

    @media screen and (min-width: 834px) {
        width: 200px;
        height: 280px;
    }

    @media screen and (min-width: 1440px) {
        width: 296px;
        height: 364px;
    }

    @media screen and (min-width: 1728px) {
        width: 360px;
        height: 440px;
    }

    &::before {
        content: '';
        position: absolute;
        left: 0;
        width: 296px;
        height: 364px;
        margin-top: -10px;
        margin-left: 10px;
        background: #FFFFFF;
        box-shadow: 0px 2px 4px rgba(21, 16, 15, 0.5);
        border-radius: 8px;

        @media screen and (min-width: 834px) {
            width: 200px;
            height: 280px;
        }

        @media screen and (min-width: 1440px) {
            width: 296px;
            height: 364px;
        }

        @media screen and (min-width: 1728px) {
            width: 360px;
            height: 440px;
        }
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        width: 296px;
        height: 364px;
        margin-top: -18px;
        margin-left: 18px;
        background: #FFFFFF;
        box-shadow: 0px 2px 4px rgba(21, 16, 15, 0.5);
        border-radius: 8px;
        z-index: -1;

        @media screen and (min-width: 834px) {
            width: 200px;
            height: 280px;
        }

        @media screen and (min-width: 1440px) {
            width: 296px;
            height: 364px;
        }

        @media screen and (min-width: 1728px) {
            width: 360px;
            height: 440px;
        }
    }

    &__image {
        min-width: 296px;
        height: 364px;
        background: lightgray -21.856px 0px / 122.973% 100% no-repeat;
        box-shadow: 1px 1px 8px 0px rgba(21, 16, 15, 0.50);
        border-radius: 8px;

        @media screen and (min-width: 834px) {
            width: 200px;
            min-width: 200px;
            height: 280px;
        }

        @media screen and (min-width: 1440px) {
            min-width: 296px;
            height: 364px;
        }

        @media screen and (min-width: 1728px) {
            min-width: 360px;
            height: 440px;
        }
    }

    &__title--hidden {
        @media screen and (min-width: 834px) {
            display: none;
        }

        @media screen and (min-width: 1440px) {
            display: contents;
        }
    }

    &__title {
        position: relative;
        margin: 0;
        width: 296px;
        height: 72px;
        bottom: 72px;
        padding: 24px 20px;
        font-family: var(--title_font);
        font-size: 16px;
        line-height: 150%;
        font-weight: 700;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: #FFFFFF;
        background: linear-gradient(135deg, rgba(240, 243, 246, 0.70) 0%, rgba(226, 231, 235, 0.00) 100%);
        box-shadow: 0px 1px 1px 0px rgba(21, 16, 15, 0.40) inset;
        backdrop-filter: blur(7.5px);
        border-radius: 0px 0px 8px 8px;

        @media screen and (min-width: 834px) {
            width: 200px;
            padding: 24px 8px;
            font-size: 13px;
        }

        @media screen and (min-width: 1440px) {
            width: 296px;
            padding: 24px 20px;
            font-size: 16px;
        }

        @media screen and (min-width: 1728px) {
            width: 360px;
            height: 84px;
            bottom: 84px;
            padding: 28px 26px;
            font-size: 20px;
        }
    }

    &__title--type2 {
        padding: 12px 20px;

        @media screen and (min-width: 834px) {
            padding: 16px 0px;
        }

        @media screen and (min-width: 1440px) {
            padding: 12px 20px;
        }

        @media screen and (min-width: 1728px) {
            padding: 12px 32px;
        }
    }
}