.background {
    &__blue {
        background-color: var(--blue_color);
    }

    &__rose {
        background-color: var(--rose_color);
    }

    &__orange {
        background-color: var(--orange_color);
    }

    &__grey {
        background-color: var(--grey_color);
    }
}