.container {
    width: 390px;
    // width: 100%;
    margin: 0 auto;
    // align-items: center;
    // outline: 2px solid tomato;

    // @media screen and (min-width: 390px) {
    //     width: 390px;
    // }

    @media screen and (min-width: 834px) {
        width: 834px;
    }

    @media screen and (min-width: 1440px) {
        width: 1440px;
    }

    @media screen and (min-width: 1728px) {
        width: 1728px;
    }
}