.section {
    width: 100%;
    padding: 0 20px;
    // outline: 2px solid tomato;

    @media screen and (min-width: 390px) {
        width: 390px;
        padding: 0 28px;
    }

    @media screen and (min-width: 834px) {
        width: 834px;
        padding: 0 60px;
    }

    @media screen and (min-width: 1440px) {
        width: 1440px;
        padding: 0 86px;
    }

    @media screen and (min-width: 1728px) {
        width: 1728px;
        padding: 0 80px;
    }
}