:root {
    --header_font: 'Rubik Moonrocks',
        cursive;
    --secondary_font: 'Bad Script',
        cursive;
    --title_font: 'PT Sans Caption',
        sans-serif;
    --text_font: 'Inter',
        sans-serif;

    --title_color: #563831;
    --text_color: #15100F;
    --lines_color: #C1FAF6;

    --first-accent_color: #CB6A84;
    --second-accent_color: #F1D0D9;
    --grey_color: #F0F3F6;
    --rose_color: #F5E2E7;
    --orange_color: #FBF2E4;
    --blue_color: #EDF7FE;
}