.about {

    &__image {
        position: absolute;
        background-size: cover;

        @media screen and (min-width: 834px) {
            width: 541px;
            height: 724px;
        }

        @media screen and (min-width: 1440px) {
            width: 728px;
            height: 972px;
        }

        @media screen and (min-width: 1728px) {
            width: 896px;
            height: 1200px;
        }
    }

    &__mob-image {
        width: 334px;
        height: 264px;
        margin-top: 20px;

        @media screen and (min-width: 834px) {
            display: none;
        }
    }

    &__image--left {
        display: none;

        @media screen and (min-width: 834px) {
            display: block;
            left: 40px;
            margin-top: -24px;
            background-image: url("/images/index/jpg/about-left_tab.jpg");

            @media (min-device-pixel-ratio: 2) and (min-width: 834px),
            (-webkit-min-device-pixel-ratio: 2) and (min-width: 834px),
            (min-resolution: 192dpi) and (min-width: 834px),
            (min-resolution: 2dppx) and (min-width: 834px) {
                background-image: url("/images/index/jpg/about-left_tab@2x.jpg");
            }
        }

        @media screen and (min-width: 1140px) {
            left: 160px;
            margin-top: -28px;
        }

        @media screen and (min-width: 1440px) {
            left: 86px;
            margin-top: -64px;
            background-image: url("/images/index/jpg/about-left_desk.jpg");

            @media (min-device-pixel-ratio: 2) and (min-width: 1440px),
            (-webkit-min-device-pixel-ratio: 2) and (min-width: 1440px),
            (min-resolution: 192dpi) and (min-width: 1440px),
            (min-resolution: 2dppx) and (min-width: 1440px) {
                background-image: url("/images/index/jpg/about-left_desk@2x.jpg");
            }
        }

        @media screen and (min-width: 1728px) {
            left: 80px;
            background-image: url("/images/index/jpg/about-left_mac.jpg");

            @media (min-device-pixel-ratio: 2) and (min-width: 1728px),
            (-webkit-min-device-pixel-ratio: 2) and (min-width: 1728px),
            (min-resolution: 192dpi) and (min-width: 1728px),
            (min-resolution: 2dppx) and (min-width: 1728px) {
                background-image: url("/images/index/jpg/about-left_mac@2x.jpg");
            }
        }
    }

    &__list-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 334px;
        height: 280px;
        border-radius: 30px;
        background-color: #FFF;
        z-index: 1;

        @media screen and (min-width: 834px) {
            position: absolute;
            width: 424px;
            height: 232px;
        }

        @media screen and (min-width: 1440px) {
            width: 528px;
            height: 280px;
        }

        @media screen and (min-width: 1728px) {
            width: 576px;
            height: 364px;
        }
    }

    &__item--1 {
        display: none;

        @media screen and (min-width: 834px) {
            display: flex;
            right: 40px;
            margin-top: -24px;
            border: 4px solid var(--grey_color);
        }

        @media screen and (min-width: 1140px) {
            right: 140px;
            margin-top: -4px;
        }

        @media screen and (min-width: 1440px) {
            right: 86px;
            margin-top: 16px;
        }

        @media screen and (min-width: 1728px) {
            right: 80px;
        }
    }

    &__item--2 {
        margin-top: 48px;
        border: 4px solid var(--rose_color);

        @media screen and (min-width: 834px) {
            right: 40px;
            margin-top: 340px;
        }

        @media screen and (min-width: 1140px) {
            right: 288px;
            margin-top: 360px;
        }

        @media screen and (min-width: 1440px) {
            right: 300px;
            margin-top: 380px;
        }

        @media screen and (min-width: 1728px) {
            right: 346px;
            margin-top: 464px;
        }
    }

    &__item--3 {
        margin-top: 20px;
        border: 4px solid var(--blue_color);

        @media screen and (min-width: 834px) {
            left: 40px;
            margin-top: 712px;
        }

        @media screen and (min-width: 1140px) {
            left: 200px;
            margin-top: 800px;
        }

        @media screen and (min-width: 1440px) {
            left: 86px;
            margin-top: 1000px;
        }

        @media screen and (min-width: 1728px) {
            left: 112px;
            margin-top: 1228px;
        }
    }

    &__item--4 {
        display: none;

        @media screen and (min-width: 834px) {
            display: flex;
            left: 40px;
            margin-top: 1182px;
            border: 4px solid var(--orange_color);
        }

        @media screen and (min-width: 1140px) {
            left: 312px;
            margin-top: 1192px;
        }

        @media screen and (min-width: 1440px) {
            left: 300px;
            margin-top: 1364px;
        }

        @media screen and (min-width: 1728px) {
            left: 410px;
            margin-top: 1676px;
        }
    }

    &__item-area {
        width: 318px;
        height: 264px;
        padding: 11px;
        border-radius: 30px;

        @media screen and (min-width: 834px) {
            width: 408px;
            height: 216px;
        }

        @media screen and (min-width: 1440px) {
            width: 512px;
            height: 264px;
            padding: 12px;
        }

        @media screen and (min-width: 1728px) {
            width: 560px;
            height: 348px;
        }
    }

    &__area-special {
        @media screen and (min-width: 834px) {
            padding-left: 32px;
        }

        @media screen and (min-width: 1440px) {
            padding-left: 38px;
        }
    }

    &__item-text {
        text-align: left;
        font-weight: 300;
        line-height: 140%;
        color: var(--text_color);
        font-family: var(--text_font);

        @media screen and (min-width: 834px) {
            font-size: 16px;
            line-height: 150%;
        }

        @media screen and (min-width: 1440px) {
            font-size: 20px;
        }

        @media screen and (min-width: 1728px) {
            font-size: 24px;
        }
    }

    &__image--right {
        display: none;

        @media screen and (min-width: 834px) {
            display: block;
            right: 40px;
            margin-top: 694px;
            background-image: url("/images/index/jpg/about-right_tab.jpg");

            @media (min-device-pixel-ratio: 2) and (min-width: 834px),
            (-webkit-min-device-pixel-ratio: 2) and (min-width: 834px),
            (min-resolution: 192dpi) and (min-width: 834px),
            (min-resolution: 2dppx) and (min-width: 834px) {
                background-image: url("/images/index/jpg/about-right_tab@2x.jpg");
            }
        }

        @media screen and (min-width: 1140px) {
            right: 140px;
            margin-top: 696px;
        }

        @media screen and (min-width: 1440px) {
            right: 86px;
            margin-top: 656px;
            background-image: url("/images/index/jpg/about-right_desk.jpg");

            @media (min-device-pixel-ratio: 2) and (min-width: 1440px),
            (-webkit-min-device-pixel-ratio: 2) and (min-width: 1440px),
            (min-resolution: 192dpi) and (min-width: 1440px),
            (min-resolution: 2dppx) and (min-width: 1440px) {
                background-image: url("/images/index/jpg/about-right_desk@2x.jpg");
            }
        }

        @media screen and (min-width: 1728px) {
            right: 80px;
            margin-top: 804px;
            background-image: url("/images/index/jpg/about-right_mac.jpg");

            @media (min-device-pixel-ratio: 2) and (min-width: 1728px),
            (-webkit-min-device-pixel-ratio: 2) and (min-width: 1728px),
            (min-resolution: 192dpi) and (min-width: 1728px),
            (min-resolution: 2dppx) and (min-width: 1728px) {
                background-image: url("/images/index/jpg/about-right_mac@2x.jpg");
            }
        }
    }
}