.contacts__section {}

.contacts {
    position: relative;
    outline: 1px solid tomato;

    &_caption {
        margin-left: -80px;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        margin-top: -64px;
    }

    &__item {}

    &__link {
        margin-bottom: 18px;
        width: 504px;
        height: 560px;
        border-radius: 8px;
        border: 4px solid #FFF;
        background: lightgray -227.05px -127.969px / 149.257% 132.812% no-repeat;
        box-shadow: 0px 4px 40px 0px rgba(21, 16, 15, 0.25);
    }

    &__text {
        position: absolute;
        border-radius: 8px;
        background: linear-gradient(103deg, rgba(251, 242, 228, 0.70) 0%, rgba(251, 242, 228, 0.00) 100%);
        box-shadow: 0px 4px 10px 0px rgba(21, 16, 15, 0.25);
        backdrop-filter: blur(65px);
        color: #563831;
        font-family: Inter;
        font-size: 22px;
        text-align: left;
        letter-spacing: 0.05em;

        &--caption {
            color: #563831;
            font-family: PT Sans Caption;
            font-size: 22px;
            font-style: normal;
            font-weight: 700;
            letter-spacing: 0.1em;
        }
    }

    &__adress {
        top: 259px;
        left: 418px;
        width: 352px;
        height: 176px;
        padding: 18px;

        &--reverse {
            top: 259px;
            right: 418px;
            width: 352px;
            height: 176px;
            padding: 18px;
            text-align: right;
        }
    }

    &__working {
        top: 450px;
        left: 482px;
        width: 288px;
        height: 140px;
        padding-left: 18px;

        &--reverse {
            top: 450px;
            right: 482px;
            width: 288px;
            height: 140px;
            padding-left: 18px;
            text-align: right;
        }
    }
}