.photo-gallery__section {
    height: 1345px;

    @media screen and (min-width: 834px) {
        height: 1245px;
    }

    @media screen and (min-width: 1440px) {
        height: 2008px;
    }

    @media screen and (min-width: 1728px) {
        height: 2105px;
    }
}

.photo-gallery {
    &__caption {
        margin-left: 0;

        @media screen and (min-width: 834px) {
            margin-left: -40px;
        }

        @media screen and (min-width: 1440px) {
            margin-left: -86px;
        }

        @media screen and (min-width: 1728px) {
            margin-left: -80px;
        }
    }

    &__clouds {
        margin-top: 48px;
        margin-left: -48px;
        width: 484px;
        height: 1104px;
        background-image: url('/images/index/png/gallery_clouds_mob.png');
        // Облака качаются влево-вправо
        animation: swing 20s linear infinite;

        @keyframes swing {

            0%,
            100% {
                transform: translateX(0);
            }

            25% {
                transform: translateX(-20px);
            }

            50% {
                transform: translateX(20px);
            }

            75% {
                transform: translateX(-10px);
            }
        }

        @media screen and (min-width: 834px) {
            margin-top: -24px;
            width: 754px;
            height: 1056px;
            background-image: url('/images/index/png/gallery_clouds_tab.png');
        }

        @media screen and (min-width: 1440px) {
            margin-top: -64px;
            width: 1268px;
            height: 1800px;
            background-image: url('/images/index/png/gallery_clouds_desk.png');
        }

        @media screen and (min-width: 1728px) {
            width: 1568px;
            height: 1860px;
            background-image: url('/images/index/png/gallery_clouds_mac.png');
        }
    }

    &__balloons {
        position: absolute;
        margin-top: -1140px;
        margin-left: -196px;
        width: 390px;
        height: 1092px;
        z-index: -1;

        @media screen and (min-width: 834px) {
            margin-top: -1056px;
            margin-left: -360px;
            width: 716px;
            height: 1108px;
            animation: fly 15s cubic-bezier(0.25, 0.1, 0.25, 1) infinite;

            @keyframes fly {

                0%,
                100% {
                    transform: translateY(0);
                }

                50% {
                    transform: translateY(50px);
                }
            }
        }

        @media screen and (min-width: 1440px) {
            margin-top: -1804px;
            margin-left: -634px;
            width: 1268px;
            height: 1804px;

        }

        @media screen and (min-width: 1728px) {
            margin-top: -1860px;
            margin-left: -816px;
            width: 1600px;
            height: 1860px;
        }
    }
}