.header_section {
    background: linear-gradient(90deg, #EDF7FE 71.35%, rgba(237, 247, 254, 0.615955) 87.4%, rgba(237, 247, 254, 0.290962) 96.88%, rgba(237, 247, 254, 0) 100%);
    filter: drop-shadow(0px 4px 4px rgba(21, 16, 15, 0.25));
}

.header_box {
    padding-top: 32px;
}

.header_image {
    position: absolute;
    top: 0;
    left: 0;
    min-width: auto;
}

// .header_contacts {}

// .header_contacts-item {}