.header {
    &_section {
        height: 396px;
        background: linear-gradient(90deg, #EDF7FE 71.35%, rgba(237, 247, 254, 0.615955) 87.4%, rgba(237, 247, 254, 0.290962) 96.88%, rgba(237, 247, 254, 0) 100%);
        filter: drop-shadow(0px 4px 4px rgba(21, 16, 15, 0.25));

        @media screen and (min-width: 834px) {
            height: 848px;
        }
    }

    &_image {
        position: absolute;
        top: 0;
        left: 0;
        width: 390px;
        height: 396px;

        @media screen and (min-width: 834px) {
            width: 834px;
            height: 848px;
        }

        @media screen and (min-width: 1440px) {
            width: 1030px;
        }

        @media screen and (min-width: 1728px) {
            width: 1248px;
        }
    }

    &_balloon {
        position: absolute;
        top: 16px;
        left: 16px;
        width: 80px;
        height: 80px;
        background-image: url("/images/index/png/balloon_mobile.png");
        background-size: contain;

        @media (min-device-pixel-ratio: 2) and (min-width: 390px),
        (-webkit-min-device-pixel-ratio: 2) and (min-width: 390px),
        (min-resolution: 192dpi) and (min-width: 390px),
        (min-resolution: 2dppx) and (min-width: 390px) {
            background-image: url("/images/index/png/balloon_mobile@2x.png");
        }

        @media screen and (min-width: 834px) {
            top: 24px;
            left: 24px;
            width: 180px;
            height: 160px;
            background-image: url("/images/index/png/balloon_tab.png");

            @media (min-device-pixel-ratio: 2) and (min-width: 834px),
            (-webkit-min-device-pixel-ratio: 2) and (min-width: 834px),
            (min-resolution: 192dpi) and (min-width: 834px),
            (min-resolution: 2dppx) and (min-width: 834px) {
                background-image: url("/images/index/png/balloon_tab@2x.png");
            }
        }

        @media screen and (min-width: 1440px) {
            position: absolute;
            top: 32px;
            left: 1074px;
            width: 280px;
            height: 282px;
            background-image: url("/images/index/png/balloon_mac_desk.png");
        }

        @media (min-device-pixel-ratio: 2) and (min-width: 1440px),
        (-webkit-min-device-pixel-ratio: 2) and (min-width: 1440px),
        (min-resolution: 192dpi) and (min-width: 1440px),
        (min-resolution: 2dppx) and (min-width: 1440px) {
            background-image: url("/images/index/png/balloon_mac_desk@2x.png");
        }

        @media screen and (min-width: 1728px) {
            left: 1368px;
        }
    }

    &_contacts-item {
        @media screen and (min-width: 834px) {
            font-family: var(--title_font);
            font-weight: 700;
            font-size: 16px;
            line-height: 100%;
        }

        @media screen and (min-width: 1440px) {
            font-size: 20px;
        }
    }

    &_contacts-button {
        border-color: transparent;
        background-color: transparent;
        cursor: pointer;
    }


    &_contacts-icon {
        margin-top: 16px;
        margin-bottom: 12px;
        width: 44px;
        height: 44px;
        fill: var(--first-accent_color);
        fill-opacity: 0.6;

        &:hover,
        :focus {
            width: 48px;
            fill-opacity: 1;
        }

        @media screen and (min-width: 1440px) {
            margin-top: 24px;
            margin-bottom: 18px;
            width: 52px;
            height: 52px;
        }
    }

    &_contacts-number--first {
        display: none;

        @media screen and (min-width: 834px) {
            display: block;
            color: var(--title-color);

            &:hover,
            :focus {
                color: var(--first-accent_color);
            }
        }
    }

    &_contacts-number--second {
        display: none;

        @media screen and (min-width: 834px) {
            display: block;
            padding: 16px 0 4px 0;
        }

        @media screen and (min-width: 1440px) {}

        @media screen and (min-width: 1728px) {
            padding: 28px 0 4px 0;
        }
    }

    &_contacts-social {
        display: none;

        @media screen and (min-width: 834px) {
            display: block;
            font-weight: 400;
            font-size: 12px;
            line-height: 150%;
        }

        @media screen and (min-width: 1440px) {
            font-size: 16px;
        }
    }

    &_logo {
        position: absolute;
        top: 176px;
        left: 262px;
        width: 100px;
        z-index: 1;

        @media screen and (min-width: 834px) {
            top: 444px;
            left: 634px;
            width: 140px;
        }

        @media screen and (min-width: 1440px) {
            top: 300px;
            left: 956px;
            width: 160px;
        }

        @media screen and (min-width: 1728px) {
            top: 260px;
            left: 1148px;
            width: 208px;
        }
    }

    &_title-box {
        position: absolute;
        top: 236px;
        left: 28px;
        width: 334px;
        height: 96px;
        padding: 12px 21px;
        background: rgba(255, 255, 255, 0.6);
        border-radius: 20px;

        @media screen and (min-width: 834px) {
            top: 512px;
            left: 83px;
            width: 668px;
            height: 216px;
            padding: 35px 42px;
            border-radius: 40px;
        }

        @media screen and (min-width: 1440px) {
            top: 372px;
            left: 686px;
            background: linear-gradient(95.97deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
            backdrop-filter: blur(7.5px);
        }

        @media screen and (min-width: 1728px) {
            left: 980px;
            padding: 36px 40px 0px 44px;
        }
    }

    &_title {
        font-family: var(--header_font);
        font-weight: 400;
        font-size: 28px;
        line-height: 130%;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #563831;

        @media screen and (min-width: 834px) {
            font-size: 56px;
        }
    }

    &_title-text {
        font-size: 22px;
        letter-spacing: 0.1em;

        @media screen and (min-width: 834px) {
            font-size: 44px;
        }
    }

    &_delivery {
        position: absolute;
        top: 312px;
        left: 235px;
        font-family: var(--secondary_font);
        font-style: italic;
        font-size: 18px;
        line-height: 100%;
        text-transform: lowercase;
        color: var(--text_color);

        @media screen and (min-width: 834px) {
            top: 684px;
            left: 529px;
            font-size: 32px;
        }

        @media screen and (min-width: 1440px) {
            top: 600px;
            left: 1177px;
            font-size: 24px;
            line-height: 150%;
            letter-spacing: 0.05em;
            transform: rotate(-15deg);
        }

        @media screen and (min-width: 1728px) {
            left: 1468px;
        }
    }



    &_transition {
        position: absolute;
        top: 360px;
        left: 45px;
        width: 300px;
        display: flex;
        justify-content: space-between;

        @media screen and (min-width: 834px) {
            top: 800px;
            left: 267px;
        }

        @media screen and (min-width: 1440px) {
            top: 803px;
            left: 1131px;
            width: 209px;
        }

        @media screen and (min-width: 1728px) {
            top: 802px;
            left: 1360px;
            width: 288px;
        }
    }

    &_transition-list {
        display: contents;
    }

    &_transition-link {
        width: 60px;
        height: 8px;
        background-color: var(--second-accent_color);
        border: 1px solid white;
        border-radius: 4px;

        &:hover,
        :focus {
            background-color: var(--first-accent_color);
            box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
        }

        @media screen and (min-width: 1440px) {
            width: 40px;
            height: 6px;
        }

        @media screen and (min-width: 1728px) {
            width: 60px;
        }
    }
}

.carousel {
    display: flex;
    overflow: hidden;
    // width: 100%;
    /* Добавляем ширину контейнера для карусели */
}

.carousel img {
    width: 25%;
    /* Равномерно распределяем ширину изображений в карусели */
    height: auto;
    transition: transform 0.5s ease-in-out;
}