.photo-gallery__section {
    height: 1345px;

    @media screen and (min-width: 834px) {
        height: 1245px;
    }

    @media screen and (min-width: 1440px) {
        height: 2008px;
    }

    @media screen and (min-width: 1728px) {
        height: 2105px;
    }
}

.photo-gallery {
    outline: 1px solid tomato;
    height: inherit;

    &__caption {
        margin-left: 0;

        @media screen and (min-width: 834px) {
            margin-left: -40px;
        }

        @media screen and (min-width: 1440px) {
            margin-left: -86px;
        }

        @media screen and (min-width: 1728px) {
            margin-left: -80px;
        }
    }

    &__clouds {
        position: absolute;
        width: 390px;
        height: 1092px;
        background-image: url('/images/index/png/photo-gallery_clouds_mob.png');
        z-index: -1;
        outline: 1px solid tomato;

        @media screen and (min-width: 834px) {
            margin-top: -24px;
            width: 754px;
            height: 1056px;
            background-image: url('/images/index/png/photo-gallery_clouds_tab.png');
        }

        @media screen and (min-width: 1440px) {
            margin-top: -64px;
            width: 1268px;
            height: 1800px;
            background-image: url('/images/index/png/photo-gallery_clouds_desk.png');
        }

        @media screen and (min-width: 1728px) {
            width: 1568px;
            height: 1860px;
            background-image: url('/images/index/png/photo-gallery_clouds_mac.png');
        }
    }

    // &__list {}

    &__item {
        position: relative;
        // display: flex;
        z-index: 10;

        &--1 {
            top: -64px;
            left: 282px;
            width: 392px;
            height: 536px;
            background-image: url('/images/index/png/balloon1.png');
            stroke-width: 4px;
            stroke: #C1FAF6;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                background-repeat: no-repeat;
                width: 100%;
                height: 100%;
                background-image: url('/images/index/png/Vector.png');
            }
        }

        &--2 {
            top: -600px;
            left: 1072px;
            width: 404px;
            height: 536px;
            background-image: url('/images/index/png/balloon2.png');

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                background-size: contain;
                background-repeat: no-repeat;
                width: 100%;
                height: 100%;
                background-image: url('');
            }
        }
    }
}