.problems {
    margin-top: 20px;
    height: 1139px;

    @media screen and (min-width: 834px) {
        margin-top: 28px;
        height: 712px;
    }

    @media screen and (min-width: 1440px) {
        margin-top: 36px;
        height: 912px;
    }

    @media screen and (min-width: 1728px) {
        margin-top: 44px;
        height: 1216px;
    }

    &__list-item {
        @media screen and (min-width: 834px) {
            &:nth-child(odd) {
                transform: none;
            }

            &:nth-child(even) {
                transform: none;
            }
        }

        & p {
            font-family: var(--text_font);
            font-weight: 500;
            font-size: 14px;
            line-height: 180%;
            text-align: center;
            letter-spacing: 0.1em;
            color: var(--text_color);

            @media screen and (min-width: 834px) {
                line-height: 200%;
            }

            @media screen and (min-width: 1440px) {
                font-weight: 600;
                font-size: 16px;
            }

            @media screen and (min-width: 1728px) {
                font-size: 20px;
            }
        }

        // Размер шара
        &>div {
            width: 244px;
            height: 328px;
            background-size: contain;
            background-repeat: no-repeat;

            @media screen and (min-width: 834px) {
                position: absolute;
                width: 252px;
                height: 340px;
            }

            @media screen and (min-width: 1440px) {
                width: 360px;
                height: 480px;
            }

            @media screen and (min-width: 1728px) {
                width: 444px;
                height: 592px;
            }
        }
    }

    &__list-balloon--1 {
        margin-left: 16px;
        transform: rotate(16deg);

        @media screen and (min-width: 834px) {
            margin-left: 132px;
        }

        @media screen and (min-width: 1440px) {
            margin-left: 252px;
        }

        @media screen and (min-width: 1728px) {
            margin-left: 300px;
        }

        &>p {
            transform: rotate(-16deg);

            @media screen and (min-width: 834px) {
                transform: none;
            }
        }
    }

    &__list-balloon--2 {
        display: none;

        @media screen and (min-width: 834px) {
            display: block;
            margin-left: 450px;
        }

        @media screen and (min-width: 1440px) {
            margin-left: 828px;
        }

        @media screen and (min-width: 1728px) {
            margin-left: 984px;
        }
    }

    &__list-balloon--3 {
        margin-top: -96px;
        margin-left: 146px;
        transform: rotate(-32deg);

        @media screen and (min-width: 834px) {
            margin-top: 372px;
            margin-left: 40px;
        }

        @media screen and (min-width: 1440px) {
            margin-top: 488px;
            margin-left: 194px;
        }

        @media screen and (min-width: 1728px) {
            margin-top: 624px;
            margin-left: 213px;
        }

        &>p {
            transform: rotate(32deg);

            @media screen and (min-width: 834px) {
                transform: none;
            }
        }
    }

    &__list-balloon--4 {
        margin-top: -84px;
        margin-left: 16px;
        transform: rotate(16deg);

        @media screen and (min-width: 834px) {
            margin-top: 284px;
            margin-left: 291px;
        }

        @media screen and (min-width: 1440px) {
            margin-top: 360px;
            margin-left: 560px;
        }

        @media screen and (min-width: 1728px) {
            margin-top: 416px;
            margin-left: 642px;
        }

        &>p {
            transform: rotate(-16deg);

            @media screen and (min-width: 834px) {
                transform: none;
            }
        }
    }

    &__list-balloon--5 {
        margin-top: -96px;
        margin-left: 146px;
        transform: rotate(-32deg);

        @media screen and (min-width: 834px) {
            margin-top: 372px;
            margin-left: 542px;
        }

        @media screen and (min-width: 1440px) {
            margin-top: 488px;
            margin-left: 926px;
        }

        @media screen and (min-width: 1728px) {
            margin-top: 624px;
            margin-left: 1071px;
        }

        &>p {
            transform: rotate(32deg);

            @media screen and (min-width: 834px) {
                transform: none;
            }
        }
    }
}


.balloon-negative {
    padding: 68px 28px;
    background-image: url("/images/index/png/balloon-negative_mob.png");

    @media (min-device-pixel-ratio: 2) and (min-width: 390px),
    (-webkit-min-device-pixel-ratio: 2) and (min-width: 390px),
    (min-resolution: 192dpi) and (min-width: 390px),
    (min-resolution: 2dppx) and (min-width: 390px) {
        background-image: url("/images/index/png/balloon-negative_mob@2x.png");
    }

    @media screen and (min-width: 834px) {
        padding: 66px 44px;
        transform: none;
        background-image: url("/images/index/png/balloon-negative_tab.png");

        @media (min-device-pixel-ratio: 2) and (min-width: 834px),
        (-webkit-min-device-pixel-ratio: 2) and (min-width: 834px),
        (min-resolution: 192dpi) and (min-width: 834px),
        (min-resolution: 2dppx) and (min-width: 834px) {
            background-image: url("/images/index/png/balloon-negative_tab@2x.png");
        }
    }

    @media screen and (min-width: 1440px) {
        padding: 120px 68px;
        background-image: url("/images/index/png/balloon-negative_desk.png");

        @media (min-device-pixel-ratio: 2) and (min-width: 1440px),
        (-webkit-min-device-pixel-ratio: 2) and (min-width: 1440px),
        (min-resolution: 192dpi) and (min-width: 1440px),
        (min-resolution: 2dppx) and (min-width: 1440px) {
            background-image: url("/images/index/png/balloon-negative_desk@2x.png");
        }
    }

    @media screen and (min-width: 1728px) {
        padding: 144px 82px;
        background-image: url("/images/index/png/balloon-negative_mac.png");

        @media (min-device-pixel-ratio: 2) and (min-width: 1728px),
        (-webkit-min-device-pixel-ratio: 2) and (min-width: 1728px),
        (min-resolution: 192dpi) and (min-width: 1728px),
        (min-resolution: 2dppx) and (min-width: 1728px) {
            background-image: url("/images/index/png/balloon-negative_mac@2x.png");
        }
    }

    &>p {
        font-weight: 400;
        font-size: 18px;

        @media screen and (min-width: 834px) {
            font-size: 14px;
        }

        @media screen and (min-width: 1440px) {
            font-weight: 500;
            font-size: 16px;
        }

        @media screen and (min-width: 1728px) {
            font-size: 20px;
        }
    }
}

.balloon-positive {
    padding: 42px 34px;
    background-image: url("/images/index/png/balloon-positive_mob.png");

    @media (min-device-pixel-ratio: 2) and (min-width: 390px),
    (-webkit-min-device-pixel-ratio: 2) and (min-width: 390px),
    (min-resolution: 192dpi) and (min-width: 390px),
    (min-resolution: 2dppx) and (min-width: 390px) {
        background-image: url("/images/index/png/balloon-positive_mob@2x.png");
    }

    @media screen and (min-width: 834px) {
        padding: 40px 40px;
        transform: none;
        background-image: url("/images/index/png/balloon-positive_tab.png");

        @media (min-device-pixel-ratio: 2) and (min-width: 834px),
        (-webkit-min-device-pixel-ratio: 2) and (min-width: 834px),
        (min-resolution: 192dpi) and (min-width: 834px),
        (min-resolution: 2dppx) and (min-width: 834px) {
            background-image: url("/images/index/png/balloon-positive_tab@2x.png");
        }
    }

    @media screen and (min-width: 1440px) {
        padding: 100px 32px;
        background-image: url("/images/index/png/balloon-positive_desk.png");

        @media (min-device-pixel-ratio: 2) and (min-width: 1440px),
        (-webkit-min-device-pixel-ratio: 2) and (min-width: 1440px),
        (min-resolution: 192dpi) and (min-width: 1440px),
        (min-resolution: 2dppx) and (min-width: 1440px) {
            background-image: url("/images/index/png/balloon-positive_desk@2x.png");
        }
    }

    @media screen and (min-width: 1728px) {
        padding: 112px 65px;
        background-image: url("/images/index/png/balloon-positive_mac.png");

        @media (min-device-pixel-ratio: 2) and (min-width: 1728px),
        (-webkit-min-device-pixel-ratio: 2) and (min-width: 1728px),
        (min-resolution: 192dpi) and (min-width: 1728px),
        (min-resolution: 2dppx) and (min-width: 1728px) {
            background-image: url("/images/index/png/balloon-positive_mac@2x.png");
        }
    }
}