.products {
    margin-top: -84px;

    @media screen and (min-width: 834px) {
        margin-top: 28px;
    }

    @media screen and (min-width: 1440px) {
        margin-top: 88px;
    }

    @media screen and (min-width: 1728px) {
        margin-top: 44px;
    }

    &__list {
        display: inline-block;

        @media screen and (min-width: 834px) {
            display: flex;
        }
    }

    &__list-indent {
        @media screen and (min-width: 834px) {
            margin-top: 124px;
        }

        @media screen and (min-width: 1440px) {
            margin-top: 177px;
        }

        @media screen and (min-width: 1728px) {
            margin-top: 200px;
        }
    }

    &__section--type1 {
        margin-top: 50px;

        @media screen and (min-width: 834px) {
            margin-top: 70px;
        }

        @media screen and (min-width: 1440px) {
            margin-top: 51px;
        }

        @media screen and (min-width: 1728px) {
            margin-top: 62px;
        }
    }

    &__section--type2 {
        margin-top: 50px;
        margin-bottom: 50px;

        @media screen and (min-width: 834px) {
            margin-top: 38px;
            margin-left: 68px;
            margin-right: 68px;
        }

        @media screen and (min-width: 1440px) {
            margin-top: 17px;
            margin-left: 73px;
            margin-right: 73px;
        }

        @media screen and (min-width: 1728px) {
            margin-top: 22px;
            margin-left: 102px;
            margin-right: 102px;
        }
    }

    &__section--type3 {
        @media screen and (min-width: 834px) {
            margin-top: 10px;
        }

        @media screen and (min-width: 1440px) {
            margin-top: -17px;
        }

        @media screen and (min-width: 1728px) {
            margin-top: -22px;
        }
    }

    //Products title settings
    &__title {
        font-family: var(--title_font);
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.8px;
        text-transform: uppercase;
        color: var(--title_color);

        @media screen and (min-width: 834px) {
            position: absolute;
        }

        @media screen and (min-width: 1440px) {
            font-size: 18px;
            letter-spacing: 0.9px;
        }

        @media screen and (min-width: 1728px) {
            font-size: 24px;
            letter-spacing: 1.2px;
        }

        &::before {
            content: '';
            position: absolute;
            margin-top: 24px;
            width: 296px;
            height: 2px;
            background: var(--lines_color);
            border-radius: 0px 8px 8px 0px;

            @media screen and (min-width: 834px) {
                margin-top: 22px;
                width: 380px;
            }

            @media screen and (min-width: 1440px) {
                margin-top: 24px;
                height: 4px;
                width: 598px;
            }

            @media screen and (min-width: 1728px) {
                margin-top: 32px;
                height: 6px;
                width: 716px;
            }
        }
    }

    &__title--hidden {
        display: none;

        @media screen and (min-width: 834px) {}

        @media screen and (min-width: 1440px) {
            display: contents;
        }
    }

    //Products titles position
    &__title--type1 {
        margin-top: 48px;
        margin-left: -66px;

        @media screen and (min-width: 834px) {
            margin-top: -24px;
            margin-left: 90px;
        }

        @media screen and (min-width: 1440px) {
            margin-top: -64px;
            margin-left: 162px;
        }

        @media screen and (min-width: 1728px) {
            margin-left: 148px;
        }

        &::before {
            margin-left: 32px;

            @media screen and (min-width: 834px) {
                margin-left: -88px;
            }

            @media screen and (min-width: 1440px) {
                margin-left: -271px;
            }

            @media screen and (min-width: 1728px) {
                margin-left: -281px;
            }
        }
    }

    &__title--type2 {
        margin-top: 80px;
        margin-left: -94px;

        @media screen and (min-width: 834px) {
            margin-top: 48px;
            margin-left: 374px;
        }

        @media screen and (min-width: 1440px) {
            margin-top: 60px;
            margin-left: 562px;
        }

        @media screen and (min-width: 1728px) {
            margin-top: 56px;
            margin-left: 718px;
        }

        &::before {
            border-radius: 8px 0px 0px 8px;
            margin-left: 72px;

            @media screen and (min-width: 834px) {
                margin-left: 0px;
            }
        }
    }

    &__title--type3 {
        margin-top: 80px;
        margin-left: 4px;

        @media screen and (min-width: 834px) {
            margin-top: 100px;
            margin-left: 108px;
            margin-bottom: 0;
        }

        @media screen and (min-width: 1440px) {
            margin-top: 128px;
            margin-left: 182px;
        }

        @media screen and (min-width: 1728px) {
            margin-top: 140px;
            margin-left: 176px;
        }

        &::before {
            margin-left: -12px;

            @media screen and (min-width: 834px) {
                margin-left: -108px;
            }

            @media screen and (min-width: 1440px) {
                margin-left: -292px;
            }

            @media screen and (min-width: 1728px) {
                margin-left: -308px;
            }
        }
    }

    &__title--type4 {
        margin-top: 80px;
        margin-bottom: 32px;
        position: static;
        font-size: 16px;

        @media screen and (min-width: 834px) {
            margin-bottom: 44px;
        }

        @media screen and (min-width: 1440px) {
            margin-top: 96px;
            margin-bottom: 60px;
            font-size: 18px;
        }

        @media screen and (min-width: 1728px) {
            margin-top: 140px;
            font-size: 20px;
        }

        &::before {
            margin-left: -34px;
            width: 296px;
            border-radius: 8px;

            @media screen and (min-width: 834px) {
                margin-left: -76px;
                width: 380px;
            }

            @media screen and (min-width: 1440px) {
                margin-left: -60px;
                width: 598px;
            }

            @media screen and (min-width: 1728px) {
                margin-top: 28px;
                margin-left: -92px;
                width: 716px;
            }
        }
    }

    &__title--type5 {
        position: static;
        margin-top: 80px;
        margin-bottom: 32px;
        font-size: 16px;

        @media screen and (min-width: 834px) {
            margin-top: 78px;
            margin-bottom: 44px;
            font-size: 18px;
        }

        @media screen and (min-width: 1440px) {
            margin-top: 96px;
            margin-bottom: 60px;
        }

        @media screen and (min-width: 1728px) {
            margin-top: 140px;
            font-size: 20px;
        }

        &::before {
            margin-left: -37px;

            @media screen and (min-width: 834px) {
                margin-left: -65px;
            }

            @media screen and (min-width: 1440px) {
                margin-left: -174px;
            }

            @media screen and (min-width: 1728px) {
                margin-top: 28px;
                margin-left: -219px;
                border-radius: 8px;
            }
        }
    }

    &__gallery {
        position: static;
    }

    &__gallery-list {
        display: flex;
    }

    &__gallery-item {
        display: none;

        @media screen and (min-width: 834px) {
            display: block;
            margin-top: 32px;
            width: 200px;
            height: 280px;
            box-shadow: (1px 1px 8px rgba(21, 16, 15, 0.5));
            border-radius: 8px;
            overflow: hidden;
        }

        @media screen and (min-width: 1440px) {
            width: 292px;
            height: 364px;
        }

        @media screen and (min-width: 1728px) {
            margin-top: 52px;
            width: 320px;
            height: 380px;
        }
    }

    &__gallery-item--average {
        margin: 0 auto;
        width: 296px;
        height: 364px;
        box-shadow: (1px 1px 8px rgba(21, 16, 15, 0.5));
        border-radius: 8px;
        overflow: hidden;

        @media screen and (min-width: 834px) {
            margin-left: 7px;
            margin-right: 7px;
            width: 340px;
            height: 280px;
        }

        @media screen and (min-width: 1440px) {
            margin-left: 8px;
            margin-right: 8px;
            width: 452px;
            height: 364px;
        }

        @media screen and (min-width: 1728px) {
            margin-left: 22px;
            margin-right: 22px;
            width: 618px;
            height: 380px;
        }
    }

    &__gallery-text {
        display: none;
        font-family: 'Inter';
        line-height: 200%;
        letter-spacing: 0.05em;
        color: #15100F;
        background: radial-gradient(80.5% 80.5% at 50% 50%, rgba(193, 250, 246, 0) 60.42%, #C1FAF6 100%);
        border-radius: 8px;

        @media screen and (min-width: 834px) {
            display: block;
            margin: 0 auto;
            margin-top: -24px;
            width: 340px;
            height: 100px;
            padding: 8px;
            font-size: 14px;
        }

        @media screen and (min-width: 1440px) {
            width: 452px;
            height: 80px;
            font-size: 16px;
        }

        @media screen and (min-width: 1728px) {
            margin-top: -44px;
            width: 618px;
            height: 88px;
            padding: 12px 88px;
        }
    }

    // &__photo-container {
    //     outline: 1px solid tomato;
    //     width: 1302px;
    //     height: 360px;
    //     overflow: hidden;
    // }

    // &__photo-wrapper {
    //     position: static;
    //     display: flex;
    //     overflow: hidden;
    //     transition: transform 0.3s ease;
    //     cursor: pointer;
    // }

    // &__photo-wrapper_item {
    //     min-width: 304px;
    //     height: 360px;
    //     transition: transform 0.3s ease;

    //     &:first-child {
    //         margin-left: -153px;
    //     }

    //     &:last-child {
    //         margin-right: -153px;
    //     }


    //     &:nth-child(even) {
    //         margin-left: 22px;
    //         margin-right: 22px;
    //     }
    // }

    &__photo-wrapper_textblock {
        display: flex;
        margin-top: 12px;

        @media screen and (min-width: 834px) {}

        @media screen and (min-width: 1440px) {}

        @media screen and (min-width: 1728px) {}
    }

    &__photo-wrapper_text {
        width: 476px;
        height: 120px;
        padding: 12px;
        background: radial-gradient(80.5% 80.5% at 50% 50%, rgba(193, 250, 246, 0) 60.42%, #C1FAF6 100%);
        border-radius: 8px;

        font-family: var(--text_font);
        font-size: 16px;
        line-height: 200%;
        letter-spacing: 0.05em;
        color: var(--text_color);

        &:last-child {
            margin-left: 349px;
        }

        @media screen and (min-width: 834px) {}

        @media screen and (min-width: 1440px) {}

        @media screen and (min-width: 1728px) {}
    }
}