.why-section {
    position: relative;

    @media screen and (min-width: 834px) {
        margin-top: 1534px;
    }

    @media screen and (min-width: 1440px) {
        margin-top: 1784px;
    }

    @media screen and (min-width: 1728px) {
        margin-top: 2200px;
    }
}

.why {
    &__list {
        display: flex;
        margin-top: -64px;

        // display: flex;
        &:first-child {
            margin-right: 328px;
        }
    }

    &__list-item {
        position: relative;
        margin-bottom: 144px;
        width: 492px;
        height: 442px;
        // outline: 1px solid tomato;

        &:first-child {
            margin-right: 328px;
        }
    }

    // &__item-area {}

    &__icon-area {
        position: absolute;
        // top: 0;
        // right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 200px;
        border-radius: 20px;
        // background: #EDF7FE;
    }

    &__icon {
        width: 80px;
        height: 80px;
        fill: #FFF;
    }

    &__item-text {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 342px;
        height: 342px;
        padding: 20px;
        border-radius: 20px;
        border: 4px solid var(--blue_color);
        background: #FFF;

        color: #15100F;
        font-family: Inter;
        font-size: 24px;
        font-weight: 300;

        &--2 {
            border: 4px solid var(--rose_color);
        }

        &--3 {
            border: 4px solid var(--orange_color);
        }

        &--4 {
            border: 4px solid var(--grey_color);
        }
    }

    &__central-image {
        position: absolute;
        top: 492px;
        left: 624px;
        width: 480px;
        height: 480px;
        background-size: cover;
        border-radius: 50%;
        box-shadow: 0px 4px 60px 0px rgba(21, 16, 15, 0.25);
        background-image: url('/images/index/png/why_central-image_mac.png');
    }

}

.area {
    &__top-left {
        top: 0;
        left: 0;
    }

    &__top-right {
        top: 0;
        right: 0;
    }

    &__bottom-left {
        bottom: 0;
        left: 0;
    }

    &__bottom-right {
        bottom: 0;
        right: 0;
    }
}